
<form method="post" id="id_formManualQuery_devMode" autocomplete="off">

    <div class="card">
        <h5 class="card-header">Query Database</h5>
        <div class="card-body">
            <div class="mb-3">
                <label for="idExecQuery" class="form-label">Query SQL</label>
                <textarea name="" id="idExecQuery" class="form-control"></textarea>
                <div id="emailHelp" class="form-text text-danger">* Peringatan. Masukkan Query dengan benar.</div>
              </div>
            <button type="button" class="btn btn-danger" id="idBtnExecute">Execute !</button>
        </div>
    </div>

</form>

