

<form method="post" id="id_formTruncateTable" autocomplete="off">
    <div class="card">
        <h5 class="card-header">Database Table</h5>
        <div class="card-body">

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Tabel Database</label>
                <select name="nameSelectTableDatabase" id="idSelectTableDatabase" class="form-control">
                    <!-- Ajax handling -->
                </select>
                <div id="emailHelp" class="form-text text-danger">* Peringatan. Data di dalam tabel Akan hilang secara permanen.</div>
            </div>

            <button type="submit" class="btn btn-danger">Truncate !</button>

        </div>
    </div>
</form>