<h5 class="card-title">Pendaftaran Siswa</h5>
<div class="row mt-4 justify-content-center">

    <form method="post" id="id_formBiodataSiswa_userFormSiswaRegister" autocomplete="off">

        <div class="card mb-3">
            <div class="card-header">
                Siswa
            </div>
            <div class="card-body">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" class="form-control" name="name_inputNamaSiswa_userFormSiswaRegister" placeholder="Nama siswa" aria-label="Username" aria-describedby="basic-addon1">
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-venus-mars"></i></span>
                    <select name="name_pilihGenderSiswa_userFormSiswaRegister" id="" class="form-control">
                        <option disabled selected>-- Pilih Gender --</option>
                        <option value="GEN1">Laki-Laki</option>
                        <option value="GEN2">Perempuan</option>
                    </select>
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_alamatSiswa_userFormSiswaRegister" id="" class="form-control" placeholder="Alamat siswa"></textarea>
                </div>

            </div>
        </div>

        <div class="card">
            <div class="card-header">
                Orangtua
            </div>
            <div class="card-body">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                    <input type="text" name="name_nikBapak_userFormSiswaRegister" maxlength="16" class="form-control" placeholder="NIK Bapak" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" name="name_namaBapak_userFormSiswaRegister" class="form-control" placeholder="Nama Bapak" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                    <input type="text" name="name_telfonBapak_userFormSiswaRegister" maxlength="13" class="form-control" placeholder="Telfon Bapak" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_alamatBapak_userFormSiswaRegister" id="" class="form-control" placeholder="Alamat Bapak"></textarea>
                </div>

                <hr>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                    <input type="text" name="name_nikIbu_userFormSiswaRegister" maxlength="16" class="form-control" placeholder="NIK Ibu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" name="name_namaIbu_userFormSiswaRegister" class="form-control" placeholder="Nama Ibu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                    <input type="text" name="name_telfonIbu_userFormSiswaRegister" maxlength="13" class="form-control" placeholder="Telfon Ibu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_alamatIbu_userFormSiswaRegister" id="" class="form-control" placeholder="Alamat Ibu"></textarea>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_catatanLogin_userFormSiswaRegister" id="" class="form-control" placeholder="Alamat Ibu"></textarea>
                </div>

            </div>
        </div>

        <div class="input-group mt-3 mb-3">
            <button type="button" class="btn btn-primary me-1" id="id_btnKembali_userFormSiswaRegister"><i class="fas fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success">Simpan</button>
        </div>

    </form>

</div>