<h5 class="card-title">Menu Utama</h5>
<div class="row mt-4 justify-content-center">

    <div class="col-4">
        <div class="menu-item" id="id_menuIsiFormulir_userFormMenuUtama">
            <i class="fas fa-user-plus text-primary"></i>
            <p>Isi Formulir</p>
        </div>
    </div>

    <div class="col-4">
        <div class="menu-item" id="id_menuEditFormulir_userFormMenuUtama">
            <i class="fas fa-pen-to-square text-info"></i>
            <p>Edit Dokumen</p>
        </div>
    </div>

    <div class="col-4">
        <div class="menu-item" id="id_menuUploadDokumen_userFormMenuUtama">
            <i class="fas fa-upload text-warning"></i>
            <p>Upload Dokumen</p>
        </div>
    </div>

    <div class="col-4">
        <div class="menu-item" id="id_menuPembayaran_userFormMenuUtama">
            <i class="fas fa-credit-card text-success"></i>
            <p>Pembayaran</p>
        </div>
    </div>

    <div class="col-4">
        <div class="menu-item" id="id_menuRiwayatPendaftaran_userFormMenuUtama">
            <i class="fas fa-file-lines text-danger"></i>
            <p>Riwayat</p>
        </div>
    </div>

    <div class="col-4">
        <div class="menu-item" id="id_menuPrintDokumen_userFormMenuUtama">
            <i class="fas fa-print text-primary"></i>
            <p>Print Dokumen</p>
        </div>
    </div>

    <div class="col-4">
        <div class="menu-item" id="id_menuLogout_userFormMenuUtama">
            <i class="fas fa-right-from-bracket text-primary"></i>
            <p>Logout</p>
        </div>
    </div>

</div>