<h5 class="card-title">Edit Data</h5>
<div class="row mt-4 justify-content-center">

    <form method="post" id="id_formEditSiswa_userFormEditRegister" autocomplete="off">

        <div class="card mb-3">
            <div class="card-header">
                Siswa
            </div>
            <div class="card-body">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" id="id_idSiswaRegister_userFormEditSiswa" class="form-control" name="" value="" placeholder="ID Siswa Register" aria-label="Username" aria-describedby="basic-addon1" required readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" id="id_idSiswa_userFormEditSiswa" class="form-control" name="name_idSiswa_userFormEditSiswa" value="" placeholder="ID Siswa" aria-label="Username" aria-describedby="basic-addon1" required readonly>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" id="id_inputNamaSiswa_userFormEditSiswa" class="form-control" name="name_inputNamaSiswa_userFormEditSiswa" value="" placeholder="Nama siswa" aria-label="Username" aria-describedby="basic-addon1" required>
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-venus-mars"></i></span>
                    <select name="name_inputGenderSiswa_userFormEditSiswa" id="id_inputGenderSiswa_userFormEditSiswa" class="form-control" required>
                        <option value="" disabled selected>-- Pilih Gender --</option>
                        <option value="GEN1">Laki-Laki</option>
                        <option value="GEN2">Perempuan</option>
                    </select>
                </div>
        
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_inputAlamatSiswa_userFormEditSiswa" id="alamatSiswa" class="form-control" placeholder="Alamat siswa" required></textarea>
                </div>

            </div>
        </div>

        <!-- <div class="card">
            <div class="card-header">
                Orangtua
            </div>
            <div class="card-body">

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                    <input type="text" name="name_nikBapak_userFormSiswaRegister" maxlength="16" class="form-control" placeholder="NIK Bapak" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" name="name_namaBapak_userFormSiswaRegister" class="form-control" placeholder="Nama Bapak" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                    <input type="text" name="name_telfonBapak_userFormSiswaRegister" maxlength="13" class="form-control" placeholder="Telfon Bapak" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_alamatBapak_userFormSiswaRegister" id="" class="form-control" placeholder="Alamat Bapak"></textarea>
                </div>

                <hr>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-address-card"></i></span>
                    <input type="text" name="name_nikIbu_userFormSiswaRegister" maxlength="16" class="form-control" placeholder="NIK Ibu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                    <input type="text" name="name_namaIbu_userFormSiswaRegister" class="form-control" placeholder="Nama Ibu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
                    <input type="text" name="name_telfonIbu_userFormSiswaRegister" maxlength="13" class="form-control" placeholder="Telfon Ibu" aria-label="Username" aria-describedby="basic-addon1">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-map-location-dot"></i></span>
                    <textarea name="name_alamatIbu_userFormSiswaRegister" id="" class="form-control" placeholder="Alamat Ibu"></textarea>
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-pen"></i></span>
                    <textarea name="name_catatanLogin_userFormSiswaRegister" id="" class="form-control" placeholder="Catatan"></textarea>
                </div>

            </div>
        </div> -->

        <div class="input-group mt-3 mb-3">
            <button type="button" class="btn btn-primary me-1" id="id_btnKembali_userFormEditSiswa"><i class="fas fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success">Update</button>
        </div>

    </form>

</div>