
        <!-- Siswa -->
        <div class="card mb-3">
            <h5 class="card-header">Siswa</h5>
            <div class="card-body">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nama Siswa</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Robby Cahyadi">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Laki-Laki">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Alamat</label>
                    <textarea name="" id="exampleInputEmail1" class="form-control">Kp.Pamahan</textarea>
                </div>
            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">Orangtua</h5>
            <div class="card-body">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">NIK Bapak</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="3216584985254448">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nama Bapak</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Anwar Ibrahim">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telp. Bapak</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="082121895475">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Alamat Bapak</label>
                    <textarea name="" id="exampleInputEmail1" class="form-control">Kp.Pamahan</textarea>
                </div>

                <hr>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">NIK Ibu</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="3216201920548882">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nama Ibu</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="Dessy Wahyuning">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telfon Ibu</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" value="082121890758">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Telfon Ibu</label>
                    <textarea name="" id="" class="form-control">Kp.Pamahan</textarea>
                </div>

            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">Pembayaran</h5>

            <div class="card-body">

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Skema bayar</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="Skema-01">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tipe pembayaran</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="Non Tunai">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Nama Bank</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" value="BCA">
                </div>

            </div>
        </div>

        <div class="card mb-3">
            <h5 class="card-header">
                Dokumen
            </h5>

            <div class="card-body">

                <div class="mb-3">

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Dokumen</th>
                          </tr>
                        </thead>
                        <tbody>

                          <tr>
                            <th scope="row">1</th>
                            <td>
                                <a href="">PassPhoto_ROBBY_CAHYADI.png</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">2</th>
                            <td>
                                <a href="">Ijazah_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <a href="">Kartukeluarga_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">4</th>
                            <td>
                                <a href="">aktaKelahiran_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">5</th>
                            <td>
                                <a href="">suratPernyataan_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">6</th>
                            <td>
                                <a href="">buktiPembayaran_ROBBY_CAHYADI.png</a>
                            </td>
                          </tr>

                        </tbody>
                      </table>

                </div>
            </div>
        </div>


        <button class="btn btn-primary" id="id_btnKembali_admFormDetailSiswa"><i class="fas fa-arrow-left"></i> Kembali</button>
    