
        

        <div class="card mb-3">
            <h5 class="card-header">
                Dokumen
            </h5>

            <div class="card-body">

                <div class="mb-3">

                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">No</th>
                            <th scope="col">Dokumen</th>
                          </tr>
                        </thead>

                        <tbody id="id_tBodydetailDokumenSiswa_formPendaftaran_detailSiswa">

                          <!-- <tr>
                            <th scope="row">1</th>
                            <td>
                                <a href="">PassPhoto_ROBBY_CAHYADI.png</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">2</th>
                            <td>
                                <a href="">Ijazah_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">3</th>
                            <td>
                                <a href="">Kartukeluarga_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">4</th>
                            <td>
                                <a href="">aktaKelahiran_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">5</th>
                            <td>
                                <a href="">suratPernyataan_ROBBY_CAHYADI.pdf</a>
                            </td>
                          </tr>

                          <tr>
                            <th scope="row">6</th>
                            <td>
                                <a href="">buktiPembayaran_ROBBY_CAHYADI.png</a>
                            </td>
                          </tr> -->

                        </tbody>

                      </table>

                </div>
            </div>
        </div>


        <button class="btn btn-primary" id="id_btnKembali_admFormDetailSiswa"><i class="fas fa-arrow-left"></i> Kembali</button>
    