
<form method="post" id="" autocomplete="off" enctype="multipart/form-data">

    <!-- SIswa -->
    <div class="card mb-2">

        <h6 class="card-header">
            Siswa
        </h6>

        <div class="card-body">

            <div class="mb-3">
                <label for="id_admFormEditSiswa_namaSiswa" class="form-label">Nama siswa</label>
                <input type="text" class="form-control" id="id_admFormEditSiswa_namaSiswa" name="name_admFormEditSiswa_namaSiswa" required>
            </div>

            <div class="mb-3">
                <label for="id_admFormEditSiswa_pilihGenderSiswa">Gender</label>
                <select name="name_admFormEditSiswa_pilihGenderSiswa" id="id_admFormEditSiswa_pilihGenderSiswa" class="form-control">
                    <option value="" selected>Laki-Laki</option>
                    <option value="">Perempuan</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="id_admFormEditSiswa_alamatSiswa">Domisili</label>
                <textarea name="name_admFormEditSiswa_alamatSiswa" id="id_admFormEditSiswa_alamatSiswa" class="form-control"></textarea>
            </div>

        </div>

    </div>

    <!-- Orangtua -->
    <div class="card mb-2">

        <h6 class="card-header">
            Orangtua
        </h6>

        <div class="card-body">

            <div class="mb-3">
                <label for="id_admFormEditSiswa_nikBapak">NIK Bapak</label>
                <input type="text" name="name_admFormEditSiswa_nikBapak" id="id_admFormEditSiswa_nikBapak" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Nama Bapak</label>
                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Telfon Bapak</label>
                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Alamat Bapak</label>
                <textarea name="" id="" class="form-control"></textarea>
            </div>

            <!-- Break line -->
            <hr>
            <!-- End of break line -->

            <div class="mb-3">
                <label for="">NIK Ibu</label>
                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Nama Ibu</label>
                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Telfon Ibu</label>
                <input type="text" name="" id="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Nama Ibu</label>
                <textarea name="" id="" class="form-control"></textarea>
            </div>

        </div>

    </div>

    <!-- Dokumen -->
    <div class="card mb-2">

        <h6 class="card-header">
            Dokumen
        </h6>

        <div class="card-body">
            
            <div class="mb-3">
                <label for="">PassPhoto</label>
                <input type="file" id="" name="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Ijazah</label>
                <input type="file" id="" name="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Kartu Keluarga</label>
                <input type="file" id="" name="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Akta Kelahiran</label>
                <input type="file" id="" name="" class="form-control">
            </div>

            <div class="mb-3">
                <label for="">Surat Pernyataan</label>
                <input type="file" id="" name="" class="form-control">
            </div>

        </div>

    </div>

    <!-- Pembayaran -->
    <div class="card mb-2">

        <h6 class="card-header">
            Pembayaran
        </h6>

        <div class="card-body">
            
            <div class="mb-3">
                <label for="">Skema Bayar</label>
                <select name="" id="" class="form-control">
                    <option value="">Pilih Skema</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="">Tipe pembayaran</label>
                <select name="" id="" class="form-control">
                    <option value="">Pilih tipe bayar</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="">Upload bukti pembayaran</label>
                <input type="file" class="form-control" id="" name="">
            </div>


        </div>

    </div>

    <button type="button" class="btn btn-primary" id="id_btnKembali_admFormEditSiswa"><i class="fas fa-arrow-left"></i> Kembali</button>
    <button type="button" class="btn btn-success">Update</button>
</form>