

<!-- Modal Form -->
<div class="modal fade" id="idForm_admin_addFamilyModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Tambah Anggota</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-close"></i></button>
        </div>
        <div class="modal-body">
          <form autocomplete="off">
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label">Nama Anggota:</label>
              <input type="text" class="form-control" id="recipient-name">
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label">Keterangan</label>
              <textarea class="form-control" id="message-text"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Kembali</button>
          <button type="button" class="btn btn-success" id="idModalTrigger" data-bs-dismiss="modal">Simpan</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End of modal form -->