<div class="text-center mt-4 name">
    Lupa <br> Password
</div>

<form class="p-3 mt-3" method="post" id="id_formResetPassword" autocomplete="off">

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
        <input type="text" class="form-control" name="name_inputNomorTelfon_formResetPassword" id="id_inputNomorTelfon_formResetPassword" placeholder="Nomor telfon" aria-label="Username" aria-describedby="basic-addon1" maxlength="13" required>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-key"></i></span>
        <input type="text" class="form-control" name="name_inputPasswordBaru_formResetPassword" id="id_inputPasswordBaru_formResetPassword" placeholder="Password Baru" aria-label="Username" aria-describedby="basic-addon1" maxlength="13" required>
    </div>

    <button type="submit" class="btn mt-3">Reset <i class="fas fa-lock-open"></i></button>

</form>

<div class="text-center fs-6">

    <div id="id_btnKembali_userFormLupaPassword">
        <h6><u>Kembali</u></h6>
    </div>


</div>