<div class="text-center mt-4 name">
    Lupa <br> Password
</div>

<form class="p-3 mt-3" method="post" id="" autocomplete="off">

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fas fa-phone"></i></span>
        <input type="text" class="form-control" id="" placeholder="Telfon User" aria-label="Username" aria-describedby="basic-addon1" maxlength="13" required>
    </div>

    <button type="submit" class="btn mt-3">Login <i class="fas fa-share"></i></button>

</form>

<div class="text-center fs-6">

    <div id="id_btnKembali_userFormLupaPassword">
        <h6><u>Kembali</u></h6>
    </div>


</div>