<h5 class="card-title">Form Pembayaran</h5>
<div class="row mt-4 justify-content-center">

    <form method="post" id="" autocomplete="off">

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-invoice-dollar"></i></span>
            <select name="" id="" class="form-control">
                <option disabled selected>-- Pilih Skema --</option>
                <option value="">Skema-01</option>
                <option value="">Skema-02</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-invoice-dollar"></i></span>
            <select name="" id="" class="form-control">
                <option disabled selected>-- Pilih Tipe Bayar --</option>
                <option value="">Cash</option>
                <option value="">Non Tunai</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-invoice-dollar"></i></span>
            <select name="" id="" class="form-control">
                <option disabled selected>-- Pilih Nama Bank --</option>
                <option value="">BCA</option>
                <option value="">BNI</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="fas fa-file-invoice-dollar"></i></span>
            <input type="file" class="form-control" id="">
        </div>

        <div class="input-group mb-3">
            <button type="button" class="btn btn-primary me-2"><i class="fas fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success">Bayar <i class="fas fa-arrow-right"></i></button>
        </div>


    </form>

</div>

