
  
  <h5 class="card-title">Konfirmasi Pembayaran</h5>
  <div class="row mt-4">
  
  
      <div class="input-group mb-3">
          <button type="button" class="btn btn-primary" id="id_btnKembali_userModulPembayaran_formListPendaftar"><i class="fas fa-arrow-left"></i> Kembali</button>
      </div>

      <form method="post" id="id_formApprovePembayaran_adminFormPembayaran" autocomplete="off">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">ID Pembayaran</label>
            <input type="text" class="form-control" name="name_fetchIdPembayaranSiswa_adminFormApprovePembayaran" id="id_fetchIdPembayaranSiswa_adminFormApprovePembayaran" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nama Siswa</label>
            <input type="text" class="form-control" name="" id="id_fetchInputNamaSiswa_adminFormApprovePembayaran" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Gender</label>
            <input type="text" class="form-control" name="" id="id_fetchInputgenderSiswa_adminFormApprovePembayaran" aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Aksi</label>
            <select name="name_pilihAksiApprove_adminFormApprovePembayaran" id="" class="form-control" required>
                <option value="" disabled selected>-- Pilih Aksi --</option>
                <option value="APM1">Terima</option>
                <option value="APM4">Tolak</option>
            </select>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-success mt-3">Simpan</button>
        </div>


      </form>
  
  </div>